<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${param.error}">
    Invalid username or password.
</div>
<form action="/login" method="post" th:action="@{/login}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" value="Login">
</form>
</body>
</html>